<h2>Weather Converter (.Net Core + Angular)</h2>

<select [formControl]="type">
    <option value="0">Celsius</option>
    <option value="1">Kelvin</option>
    <option value="2">Fahrenheit</option>
</select>

<input [formControl]="tempValue" type="text" />

<button (click)="convert()">Convert</button>

<h5>Result</h5>
<ng-container *ngIf="weather$ | async as weather">
    <p>Celsius : {{weather.celsius}}</p>
    <p>Kelvin: {{weather.kelvin}}</p>
    <p>Fahrenheit: {{weather.fahrenheit}}</p>
</ng-container>